# Virtual environments
.venv/
env/
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Report outputs
*.docx
*.pdf
!Sample Output.pdf   # allow sample PDF only

# OS junk
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/
