# Ignore everything by default
*

# Allow only these specific files
!.gitignore
!InvestmentReportGenerator.py
!README.md
!Sample Output.pdf
!sample holdings.csv
!targets_asset.csv
!Appendix_Formulas.docx
